/* Change font for entire document */
html * {
    font-family: "Lucida Console", serif;
}

/* Logo and Name */
#Logo {
    font-size: 20px;

    background-color: rgba(128,128,128, .25);
    box-shadow: black;
    padding: 5px;
    border-radius: 20px;

    /* Obtained from https://www.w3schools.com/howto/howto_css_glowing_text.asp */
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

/* Obtained from https://www.w3schools.com/howto/howto_css_glowing_text.asp
    Glow Text transition
*/
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px greenyellow, 0 0 200px red, 0 0 30px limegreen, 0 0 40px orangered,
        0 0 50px #e60073, 0 0 60px #e60073, 0 0 20px #e60073;
    }
}

/* Logo Photo */
#marknificent {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* Fonts within navigation bar */
#navBarDiv li a, #navBarDiv li button {
    font-size: 15px;
    color: limegreen;
}

/* Removes pill color for projects and links */
#links, #projects, #about {
    background-color: transparent;
    fill: none;
    border: none;
}

/* Dropdown table color */
#dprojects, #dlink {
    background-color: lightgrey;
}

/* Green Hover Background color table drop tables odd */
#dprojects a:hover:nth-child(odd), #dlink a:hover:nth-child(odd) {
    background-color: rgba(255, 0,0,.25);
}

/* Green Hover Background color table drop tables evens*/
#dprojects a:hover:nth-child(even), #dlink a:hover:nth-child(even) {
    background-color: rgba(0, 255,0,.25);
}

/* Pill Color About */
#home a {
    background-color: dimgrey;
    color: black;
}

/* Menu Hover Color */
#contact a:hover, #about a:hover, #links:focus, #projects:focus, #links:hover, #projects:hover {
    color: lightgray;
    border: none;
}

/* Drop Table Text Color */
#dprojects a.dropdown-item, #dlink a.dropdown-item {
    color: black;
}

/* Drop Table Stripes */
#dprojects a:nth-child(even), #dlink a:nth-child(even) {
    background-color: darkgrey;
}

/* Jumbotron Block */
#wumbojumbotron {
    background: url("../images/JumboGif.gif") center; /* From Giffy.com */
    background-size: cover;

}

/* Jumbotron for welcome div */
#wumbojumbotron h1 {

    color: lightgray;
    margin-top: 20px;
    font-weight: bold;
}

/* Jumbotron paragraph */
#wumbojumbotron p {
    color: white;
}

/* Jumbotron hr divider */
#wumbojumbotron hr {
    border-color: lightgray;
}

/* About me Section */
#AboutMe {
    background-color: gray;
    background-image: url("../images/clouds.png");
    background-size: cover;
    background-position: center;
    color: darkgreen;
    margin-top: -20px;
}

/* About me photo */
#InternMark {
    border-radius: 50%;
    border-style: dot-dash;

    height: 450px;
    width: 450px;
    transform: rotate(-90deg);
    padding: 10px;
    margin: 10px;
    rotation: 90deg;
    background-color: black;
    background-size: 400px 400px;
}

/* About me Text */
#infoBlock, #infoBlock div p {
    font-size: 16px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
}

/* Project slides */
#ProjectSlide {
    background-color: black;
    border-style: solid;
    margin-top: 10px;
}

#ProgrammyStuff h1 {
    background-color: Gray;
}

#AnimStuff h1 {
    background-color: white;
}

.card {
    width: 18rem;
    height: 33rem;
    margin-left: 60px;
    margin-bottom: 50px
}

#ProgrammyStuff p {
    font-size: 14px;
}

#ProgrammyStuff a, #AnimStuff a {
    font-size: 50px;
    color: purple;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    size: 10px;
}